---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const isActive = href === Astro.url.pathname.replace(/\/$/, '');
---

<a href={href} class="text-sm uppercase tracking-wide font-medium hover:underline decoration-4 decoration-primary-500 transition duration-300" {...props}>
	<slot />
</a>
<!-- <style>
	a {
		display: inline-block;
		text-decoration: none;
	}
	a.active {
		font-weight: bolder;
		text-decoration: underline;
	}
</style> -->
