---
import '@fontsource/montserrat';
import '@fontsource/montserrat/800.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		heroImage?: string;
    author?: string;
	};
}

const {
	content: { title, description, pubDate, heroImage, author },
} = Astro.props;
---

<html lang="en">
	<head>
    <meta charset="utf-8">
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body class="font-Montserrat">
    <div class="flex flex-col container min-h-screen m-0">
      <Header />
      <article class="flex flex-col items-center mt-16 space-y-6 mb-8">
        <h1 class="text-4xl font-semibold">{title}</h1>
        <div class="flex flex-col justify-center items-center space-y-2">
          {author && <div class="text-xs">{author}</div>}
          {pubDate && <time class="text-xs border-primary-500 border rounded-2xl px-3 py-1">{pubDate}</time>}
        </div>
        {heroImage && (
          <img
            width={720}
            height={360}
            src={heroImage}
            alt=""
          />
        )}

      </article>
      <div class="text-tertiary-600 text-sm text-start flex flex-col my-6 px-16">
        <slot />
      </div>
    </div>
    <Footer />
	</body>
</html>
